.button-wrapper {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: #c8ccd9;
    flex: 1;
    outline: 1px solid #888;  
    cursor: pointer;
}
.operator {
    background-color: #284232;
    color: white;
    font-weight: 500;
}